<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DSAPIServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="DSAPIServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/dsapi.asmx"
          binding="basicHttpBinding" bindingConfiguration="DSAPIServiceSoap"
          contract="DocuSignSoapApi.DSAPIServiceSoap" name="DSAPIServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>